
<!-- extend from base layout -->

{% extends 'base.html' %}

{% block content %}
	<div class="form-horizontal">
    <form action="" method="post" name="new">
          {{form.hidden_tag() }}
      <p>
           {% for error in form.errors %}
                   <span style="color: red;">[{{ error }}] </span>
                {%  endfor%} <br>
       </p>

               <div class="control-group">
					   <label class="control-label" for="form-field-1">Data</label>
					  <div class="controls">
                     {{ form.data }}
					  </div>
					</div>

               <div class="control-group">
					   <label class="control-label" for="form-field-1">Número do NP</label>
					  <div class="controls">
                     {{ form.np }}
					  </div>
					</div>

               <div class="control-group">
					   <label class="control-label" for="form-field-1">Paciente</label>
					  <div class="controls">
                     {{ form.paciente }}
					  </div>
					</div>
               <div class="control-group">
					   <label class="control-label" for="form-field-1">Tipo de Receita</label>
					  <div class="controls">
                     {{ form.tipo_receita }}
					  </div>
					</div>
               <div class="control-group">
					   <label class="control-label" for="form-field-1">Dinheiro R$</label>
					  <div class="controls">
                      {{ form.dinheiro }}
					  </div>
					</div>
               <div class="control-group">
					   <label class="control-label" for="form-field-1">Cheque R$</label>
					  <div class="controls">
                     {{ form.cheque }}
					  </div>
					</div>
               <div class="control-group">
					   <label class="control-label" for="form-field-1">Cartão R$</label>
					  <div class="controls">
                     {{ form.cartao }}
					  </div>
					</div>
               <div class="control-group">
					   <label class="control-label" for="form-field-1">Boleto R$</label>
					  <div class="controls">
                     {{ form.boleto }}
					  </div>
					</div>

               <div class="form-actions">
	  				<input type="submit" value="Salvar" class="btn btn-info">   
              </div>
          <p><input type="submit" value="Salvar"></p>
      </form>
</div>
{% endblock %}

